<h3 id="title">Table Demos</h3>

<hr>
{{simple-table data=model}}
<br><hr>
{{custom-table data=model}}
<br><hr>
{{editable-table data=model}}
<br><hr>
{{paginated-table data=model}}
<br><hr>
{{remotepaginated-table data=model}}